<!-- Google Search Console -->
<meta name="google-site-verification" content="SEXXmYulLrx5a2MDTeEsfTbbHyeElamKVNNXml0qr_E" />

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J3MNJ3WLFN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-J3MNJ3WLFN');
</script>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/images/favicon-180.png">
